/*Прибитие футера к низу экрана*/
.empty {
	position: relative;
	height: $footer-height-destop;

	@media screen and (max-width: 1023px){
		height: $footer-height-tablet;
	}
}

/*Оформление футера*/
.footer {
	position: relative;
	margin-top: -$footer-height-destop;
	height: $footer-height-destop;
	background-color: #dedcdc;

	@media screen and (max-width: 1023px){
		margin-top: -$footer-height-tablet;
		height: $footer-height-tablet;
	}

	@media screen and (max-width: 480px){
		margin-top: -$footer-height-tablet;
		height: $footer-height-tablet;
	}

	&__login {
		float: left;
		margin: ($footer-height-destop - 30px)/2 5px ($footer-height-destop - 30px)/2 270px;

		@media screen and (max-width: 1023px) {
			position: absolute;
			float: none;
			margin: ($footer-height-tablet - 30px)/2 5px ($footer-height-tablet - 30px)/2;
		}

		@media screen and (max-width: 480px) {
			position: static;
			float: left;
			margin: ($footer-height-tablet - 30px)/2 5px ($footer-height-tablet - 30px)/2;
		}
	}

	&__content {
		color: $text-color;
		font: 12px 'open_sanslight';
		line-height: 12px;
		padding: ($footer-height-destop - 12px)/2 0;

		@media screen and (max-width: 1023px) {
			text-align: center;
			padding: ($footer-height-tablet - 12px)/2 0;
		}

		@media screen and (max-width: 480px) {
			line-height: 12px;
			padding: ($footer-height-tablet - 24px)/2 0;
		}
	}
}

.login {
	width: 73px;
	height: 30px;
	margin: 0;
	padding: 0 5px;

	&__link {
		padding: 0 0 0 10px;
		color: rgb(156, 156, 156);
		font: 14px 'open_sansbold';
		text-decoration: none;
		font-weight: bold;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);

		&:before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 21px;
			background: url(../images/locked-unlocked-sprite.png) -10px -10px;
			position: relative;
			right: 10px;
			top: 5px;
		}
	}

	&:hover .login__link {
		padding-left: 2px;

		&:before {
			background-position: -10px -51px;
			width: 24px;
			right: 4px;
			top: 4px;
		}
	}
}