@charset "UTF-8";
/*Dimentions*/
/*Colors*/
/*Оформление неактивного пункта меню и кнопки*/
/*Оформление активного пункта меню*/
/*Прибитие футера к низу экрана*/
.empty {
  position: relative;
  height: 60px; }

/*Оформление футера*/
.footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  background-color: #dedcdc; }
  .footer__login {
    float: left;
    margin: 15px 5px 15px 270px; }
  .footer__content {
    color: #EEEDEC;
    font: 12px 'open_sanslight';
    line-height: 60px; }

.login {
  width: 73px;
  height: 30px;
  margin: 0;
  padding: 0 5px; }
  .login__link {
    padding: 0 0 0 10px;
    color: #9b9b9b;
    font: 14px 'open_sansbold';
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85); }
    .login__link:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 21px;
      background: url(../images/locked-unlocked-sprite.png) -10px -10px;
      position: relative;
      right: 10px;
      top: 5px; }
  .login:hover .login__link {
    padding-left: 2px; }
    .login:hover .login__link:before {
      background-position: -10px -51px;
      width: 24px;
      right: 4px;
      top: 4px; }
