.header {
	background-image: url(../images/header_bg.png);
	height: 90px;
	border-bottom: 7px solid #ffffff;
	box-shadow: 0 0 3px #676767;
}

.header__logo {
	width: 95px;
	padding: 10px 0 0 0;
	float: left;
}

.logo__img {
	width: 100%;
}

.header__menu-social-icons {
	float: right;
	margin: 25px 0;
}

.menu-social-icons {
	height: 40px;
	width: 130px;
	padding: 0;
	margin: 0;
}

.menu-social-icons__item {
	list-style: none;
	display: inline-block;
}

.social-icon {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.fb {
	background: url(../images/social-icon-sprite.png) no-repeat -6px -5px;
}

.fb:hover {
	background: url(../images/social-icon-sprite.png) no-repeat -6px -53px;
}

.vk {
	background: url(../images/social-icon-sprite.png) no-repeat -5px -303px;
}

.vk:hover {
	background: url(../images/social-icon-sprite.png) no-repeat -6px -353px;
}

.git {
	background: url(../images/social-icon-sprite.png) no-repeat -5px -103px;
}

.git:hover {
	background: url(../images/social-icon-sprite.png) no-repeat -6px -153px;
}