.header {
   background-image: url(../images/header_bg.png);
   height: 67px;
   border-bottom: 7px solid #ffffff;
   box-shadow: 0px 0px 3px #676767;
}
.header-logo-img {
   margin: 8px 0 10px 40px; 
}
.social-icon, .item {
   float: right;
}
.item {
   display: block;
}
.social-icon-fb {
   background: url();
}
.social-icon-vk {
   background: url();
}
.social-icon-tvit {
   background: url();
}
.social-icon-git {
   background: url();
}