/*Тело документа*/
html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 100.01%;
}

body {
    font: 14px/1.41 'Verdana', 'Arial', sans-serif;
    background: url(../images/bg-main.png) no-repeat fixed center center;
    background-size: cover;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Контейнер контента сайта*/
.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 960px;
    overflow: hidden;
}

.page {
	padding: 35px 0 0 0 !important;
}

/*Центрирование контента*/
.conteiner {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
	padding: 0 15px;
}

.header__width {
	max-width: 1200px;
}

.page-width {
    width: 966px;
}

.footer__width {
    width: 960px;
}

.link-without-decorations {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}