.page-content {
	width: 651px;
	float: left;
	margin: 0 0 35px 59px;
}

.page-content-item {
	margin: 0 0 35px 0;
	width: 100%;
	padding: 0;
}

.page-content-item__header {
	margin: 0;
	padding: 17px 40px;
	font: 24px 'open_sansregular';
	color: #eeedec;
	line-height: 0.9;
	text-align: left;
	text-shadow: 1px 1px 3px #666565;
	border: 1px solid rgba(99, 99, 99, 0.35);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: -moz-linear-gradient(90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(123, 120, 120) 0%, rgb(169, 168, 168) 100%);
	background-origin: border-box;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.page-content-item__conteiner {
	background-color: #f1f0ef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #acaaaa;
	background-origin: border-box;
	position: relative;
	padding: 28px 27px 28px 28px;
	box-sizing: padding-box;
}

.page-content-list {
	list-style: none;
	padding: 0;
	margin: 7px 0 0 0;
}

.item-name, .education-name__link {
	font: 14px 'open_sanssemibold';
	color: #727070;
	line-height: 1.2;
	text-align: left;
}

.item-content {
	font: 14px 'open_sansregular';
	color: #727070;
	line-height: 1.2;
	text-align: left;
}

/* Main information */
.my-photo {
	width: 133px;
	height: 133px;
	margin: 8px 0 0 13px;
	border: 10px solid #f6f5f4;
	border-radius: 50%;
	float: left;
	box-shadow: 3px 2px 27px 5px rgba(236, 232, 227, 0.75), inset 0 2px 24px 0 rgba(121, 121, 121, 0.23);
	overflow: hidden;
}

.my-photo__img {
	width: 100%;
	position: relative;
	top: -12px;
}

.main-info {
	width: 394px;
	padding: 0;
	margin: 0;
	float: right;
}

.main-info__item {
	padding: 3px 0 3px 0;
}

.main-info__item:last-child {
	padding: 13px 0 3px 0
}

.skills {
	padding: 0 0 0 135px;
	margin-top: -20px;
}

.skills__skill {
	color: #1e7465;
	font: 600 9px 'open_sansregular';
	text-transform: uppercase;
	position: relative;
	height: 16px;
	line-height: 10px;
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 1px;
	margin-left: 18px;
	margin-bottom: 5px;
	display: inline-block;
	background: url(../images/bg-skill-body.png) repeat-x;
}

.skills__skill:before {
	content: url(../images/bg-skill-start.png);
	position: absolute;
	left: -10px;
	top: 0;
}

.skills__skill:after {
	content: url(../images/bg-skill-end.png);
	position: absolute;
	right: -5px;
	top: 0;
}

/* Education */

.education__item {
	margin: 0 20px 0 13px;
	padding: 17px 0 0 0;
	position: relative;
	word-wrap: break-word;
	box-sizing: padding-box;
}

.education__item:after {
	content: " ";
	display: block;
	border-radius: 1px;
	box-shadow: inset 0 1px 1px 0 rgba(128, 128, 128, 0.29);
	width: 100%;
	height: 2px;
	margin: 28px 0 9px 0;
}

.education__item-icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50%;
	margin-top: -34px;
	background: url(../images/portfel.png) no-repeat;
}

.education__item:last-child .education__item-icon {
	margin-top: -18px;
}

.education__item-content {
	box-sizing: padding-box;
	padding: 0;
	margin: 0 0 0 96px;
}

.education__item-name, .education__item-period {
	padding: 0;
	margin: 0 0 5px 0;
}

.education__item-period {
	margin: 0;
}

.education__item:last-child:after {
	display: none;
}

.higher-education {
	background: url(../images/cap.png) no-repeat;
}

.course {
	background: url(../images/file.png) no-repeat;
}

/*Страница-Мои работы*/
.myWorks-item {
	width: 167px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 48px 27px;
	padding: 0;
	border: 1px solid #b4b3b3;
	border-radius: 7px;
	box-sizing: border-box;
	overflow: hidden;
}

.myWorks-item:nth-child(3n+1) {
	margin: 0 0 48px 13px;
}

.myWorks-item-link {
	position: relative;
	display: block;
	width: 100%;
	height: 120px;
	line-height: 120px;
	margin: 0;
	padding: 0;
	background: #727070;
	font-size: 17px;
	color: #dddde2;
	text-shadow: 0 0 10px #0062ff;
}

.myWorks-item-link-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 1;
}

.myWorks-item-more {
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
}

.myWorks-item-header {
	padding: 7px 10px;
	margin: 0 auto;
	background-color: #f2f2f2;
	background-origin: border-box;
	text-align: center;
}

.myWorks-item-header-link {
	text-align: center;
	font: 13px 'open_sanssemibold';
	color: #727070;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	word-wrap: break-word;
}

.myWorks-item-content {
	padding: 6px 7px;
	margin: 0 auto;
	background-color: #ffffff;
	font: 12px 'open_sanslight';
	color: #727070;
	text-align: center;
	word-wrap: break-word;
}

.myWorks-item:hover {
	cursor: pointer;
}

.myWorks-item:hover .myWorks-item-link-img {
	opacity: 0.4;
	transition-duration: 0.5s;
}

.myWorks-item:hover .myWorks-item-more {
	display: inline;
}

.myWorks-item:hover .myWorks-item-header-link {
	text-decoration: underline;
}

.add-new-project {
	display: block;
	text-align: center;
	font: 14px 'open_sanssemibold';
	color: #727070;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	padding: 24px 10px 0 10px;
	margin: 0;
	background-color: #f2f2f2;
	background-origin: border-box;
	border-radius: 5px;
	background-image: -moz-linear-gradient(90deg, rgb(237, 235, 234) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(237, 235, 234) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(237, 235, 234) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
	box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07), inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
	word-wrap: break-word;
}

.add-new-project:hover {
	background-image: -moz-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
	box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.add-new-project-content {
	margin: 0;
	padding: 7px 0 24px 0;
}

.add-new-project-img {
	width: 60px;
	height: 60px;
	margin: 0 auto 0;
	padding: 0;
	background: url(../images/palaroid-sprite.png) -10px -10px;
}

.add-new-project:hover .add-new-project-img {
	background-position: -10px -90px;
}

/*Форма обратной связи*/
.contactForms {
	width: 404px;
	margin: 1px auto 0;
}

.contactForms-item {
	display: inline-block;
	width: 192px;
	text-align: center;
	margin: 0 0 14px 0;
	vertical-align: middle;
}

.contactForms-item-100perc {
	width: 100%;
	height: auto;
	margin: 0 0 9px 0;
}

.contactForms-item-label, .modalWindow-addNewProject-label {
	font: 14px 'open_sansregular';
	display: block;
	width: 190px;
	margin: 0 0 7px 0;
	color: #727070;
	/*font-size: 14px;*/
	text-align: left;
	word-wrap: break-word;
}

.contactForms-item-right {
	margin: 0 0 0 14px;
}

.contactForms-item-nameEmail-label .contactForms-item-label {
	display: inline-block;
}

.contactForms-item-captcha .contactForms-item-label {
	width: 100%;
}

.contactForms-item-input,
.contactForms-item-textarea, .modalWindow-addNewProject-input, .modalWindow-addNewProject-textarea,
.modalWindow-autorization-label {
	border: 1px solid #d6d5d3;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: -moz-linear-gradient(90deg, rgb(233, 230, 229) 0%, rgb(255, 255, 255) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(247, 246, 245) 0%, rgb(255, 255, 255) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(233, 230, 229) 0%, rgb(255, 255, 255) 100%);
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
	width: 100%;
	height: 41px;
	padding: 0 0 0 10px;
	outline: none;
	border-radius: 4px;
	font: 11px 'open_sansregular';
}

.contactForms-item-textarea, .modalWindow-addNewProject-textarea {
	width: 100%;
	height: 182px;
	margin: 0;
	resize: none;
	padding-top: 11px;
}

.contactForms-item-input:focus,
.contactForms-item-textarea:focus, .modalWindow-addNewProject-input:focus, .modalWindow-addNewProject-textarea:focus {
	border-color: #6FDCC1;
}

.contactForms-item-captcha {
	margin: 0 0 32px 0;
}

.contactForms-item-captcha .contactForms-item-input {
	display: inline-block;
}

.contactForms-item-captcha-img-conteiner {
	display: inline-block;
	width: 188px;
	height: 77px;
	margin: 0;
	padding: 0;
	box-sizing: padding-box;
	background-color: #fff;
	border: 1px solid #d6d5d3;
	border-radius: 3px;
}

.contactForms-item-captcha-img {
	width: 100%;
}

.contactForms-item-input-code {
	width: 192px;
	height: 32px;
	padding: 0 0 0 10px;
	margin: 0 0 0 15px;
}

.contactForm-item-button-list {
	margin: 0 auto;
	width: 350px;
}

.contactForm-item-button, .add-button {
	min-width: 126px;
	max-width: 126px;
	height: auto;
	border-radius: 5px;
	border: 1px solid #c3c2c2;
	font: 14px "open_sanssemibold";
	padding: 9px 23px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	text-align: center;
	word-wrap: break-word;
}

.submit-button, .add-button {
	float: left;
	background: #4ABFA2;
	background: -webkit-linear-gradient(90deg, #43b796 0%, #80e8cb 100%);
	background: linear-gradient(0deg, #43b796 0%, #80e8cb 100%);
	color: #1e7465;
}

.submit-button:hover, .add-button:hover {
	background: #3aa087;
	background: -webkit-linear-gradient(90deg, #3aa087 0%, #5fdcbd 100%);
	background: linear-gradient(0deg, #3aa087 0%, #5fdcbd 100%);
}

.clear-button {
	float: right;
	background: -webkit-linear-gradient(90deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
	background: linear-gradient(0deg, #e9e6e4 0%, #fbf9f9 94%, #ffffff 100%);
	-webkit-box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07);
	box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07);
	color: #727070;
}

.clear-button:hover {
	background: #e9e6e4;
	background: -webkit-linear-gradient(90deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
	background: linear-gradient(0deg, #c2c0c0 0%, #e3e1e1 86%, #e8e7e7 90%, #e8e7e7 100%);
}

/*ПопАп окна добавления проекта и авторизации*/
#modalWindow-addNewProject, #modalWindow-autorization, #modalWindow-sendMessage {
	display: none;
}

#modalWindow-addNewProject {
	width: 364px;
}

#modalWindow-autorization {
	width: 332px;
}

#modalWindow-sendMessage {
	width: 345px;
}

.modalWindow-header {
	font: 12px 'open_sanslight';
	color: #fff;
	margin: 2px 0 1px 0;
	height: 19px;
	line-height: 19px;
	padding: 0 0 0 22px;
}

.modalWindow-body {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #acaaaa;
	background-color: #f1f0ef;
	background-origin: border-box;
}

#modalWindow-addNewProject .modalWindow-body {
	padding: 6px 20px 26px 20px;
}

#modalWindow-autorization .modalWindow-body {
	padding: 39px 39px 26px 37px;
}

#modalWindow-sendMessage .modalWindow-body {
	padding: 32px 30px 32px 30px;
}

.close-button {
	display: block;
	width: 14px;
	height: 14px;
	padding: 0;
	margin: 0 0 -2px 0;
	background: url(../images/X.png) no-repeat center center;
	border: none;
	position: relative;
	left: 322px;
}

.add-button {
	float: none;
	position: relative;
	left: 89px;
	max-width: 125px;
	min-width: 125px;
	width: 125px;
	height: auto;
	margin: 0;
}

.modalWindow-addNewProject-label {
	margin: 0 0 9px 0;
}

.modalWindow-autorization-label {
	display: block;
	margin-bottom: 24px;
}

.form-group {
	margin: 0 0 6px 0;
}

.modalWindow-addNewProject-textarea {
	min-height: 111px;
	height: auto;
	margin: 0 0 3px 0;
}

.modalWindow-addNewProject-input-file {
	display: none;
}

.modalWindow-addNewProject-input-fake {
	float: left;
	margin: 0;
	width: 269px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.modalWindow-addNewProject-input-img {
	float: right;
	width: 52px;
	height: 39px;
	background: url(../images/iCloud-down.png) no-repeat center center, linear-gradient(0deg, #EAE8E9 0%, #F9FAF9 100%) 0 0;
	border: 1px solid #d6d5d3;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.server-mes {
	display: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	padding: 3px 10px 5px 10px;
}

.server-mes-header {
	font: 16px "open_sanssemibold";
	margin: 0;
}

.server-mes-content {
	font: 14px "open_sansregular";
	margin: 0;
}

.error-mes {
	margin: 0 0 24px 0;
	border: 1px solid rgb(203, 105, 69);
	background-color: rgba(203, 105, 69, 0.329);
}

.error-mes .server-mes-header, .error-mes .server-mes-content {
	color: #cb6945;
}

.succes-mes {
	margin: 0;
	border: 1px solid #49bb7b;
	background-color: #bce1cb;
}

#modalWindow-addNewProject-form .succes-mes {
	margin-top: 9px;
}

.succes-mes .server-mes-header, .succes-mes .server-mes-content {
	color: #49bb7b;
}

/*Окно авторизации*/
.modalWindow-autorization-label {
	padding: 0;
}

.modalWindow-autorization-label-img {
	float: left;
	margin: 0;
	padding: 0;
}

.modalWindow-autorization-label .first-img {
	width: 43px;
	height: 39px;
}

.modalWindow-autorization-label .mail-img {
	background: url(../images/email-autorization.png) no-repeat 13px 13px;
}

.modalWindow-autorization-label .key-img {
	background: url(../images/key-autorization.png) no-repeat 14px 12px;
}

.modalWindow-autorization-label .second-img {
	width: 11px;
	height: 40px;
	background: url(../images/arrow.png) no-repeat center center;
}

.modalWindow-autorization-input {
	display: block;
	float: left;
	border: none;
	background: none;
	width: 181px;
	line-height: 39px;
	height: 39px;
	padding: 0 0 0 17px;
	font: 12px "open_sanslight";
}

.modalWindow-autorization-button {
	text-align: center;
	margin: 0 0 13px 0;
}

.modalWindow-autorization-button .add-button {
	position: static;
	left: 0;
	max-width: 152px;
	width: 152px;
}

.modalWindow-autorization-labelForCheckbox {
	display: block;
	width: 100%;
	height: 22px;
	margin: -8px 0 18px 0;
}

.modalWindow-autorization-checkbox {
	position: absolute;
	left: -10000px;
}

.fake-checkbox {
	float: left;
	width: 22px;
	height: 22px;
	margin: 0 0 0 -2px;
	background: url(../images/checkbox.png) no-repeat -10px -51px;
}

.checbox-title {
	float: left;
	margin: 1px 0 0 8px;
	color: #727070;
	font: 14px "open_sansregular";
}

.modalWindow-autorization-checkbox:checked + .fake-checkbox {
	background-position: -10px -10px;
}