/*Sidebar*/
.sidebar {
    width: 250px;
    float: left;
}

/*Sidebar - Menu navigation*/
.menu-navigation {
    list-style: none;
    padding: 0;
    margin: 0 0 35px 0;
    width: 100%;
}

.menu-navigation__item:first-child .menu-navigation__link {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.menu-navigation__item:last-child .menu-navigation__link {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.menu-navigation__link {
padding: 18px 27px 16px 27px;
color: #727070;
font: 20px 'open_sanssemibold';
display: block;
line-height: 1;
text-align: left;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
border: 1px solid #b7b7b7;
border-radius: 2px;
background-image: -moz-linear-gradient(90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
background-image: -webkit-linear-gradient(90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
background-image: -ms-linear-gradient(90deg, rgb(233, 230, 229) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07), inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
word-wrap: break-word;
}

.menu-navigation__active-page {
color: #1e7465;
border: 1px solid #39a68b;
background-image: -moz-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
background-image: -webkit-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
background-image: -ms-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.menu-navigation__link:hover {
    color: rgb(114, 112, 112);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    background-image: -moz-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
}

.menu-navigation__link:active {
	color: rgb(30, 116, 101);
	border: 1px solid #39a68b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
	background-image: -moz-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(62, 183, 153) 0%, rgb(126, 232, 206) 100%);
	box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.menu-navigation__active-page:hover {
background-image: -moz-linear-gradient(90deg, rgb(53, 160, 133) 0%, rgb(108, 199, 177) 100%);
background-image: -webkit-linear-gradient(90deg, rgb(53, 160, 133) 0%, rgb(108, 199, 177) 100%);
background-image: -ms-linear-gradient(90deg, rgb(53, 160, 133) 0%, rgb(108, 199, 177) 100%);
}

.menu-navigation__active-page:active {
background-image: -moz-linear-gradient(90deg, rgb(108, 199, 177) 0%, rgb(53, 160, 133) 100%);
background-image: -webkit-linear-gradient(90deg, rgb(108, 199, 177) 0%, rgb(53, 160, 133) 100%);
background-image: -ms-linear-gradient(90deg, rgb(108, 199, 177) 0%, rgb(53, 160, 133) 100%);
}

/*Sidebar - Menu contacts*/
.menu-contacts {
    padding: 0;
    margin: 0 0 35px 0;
    width: 100%;
}

.menu-contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-contacts__header {
    padding: 10px 26px;
    margin: 0;
    font: 20px "open_sanssemibold";
    color: #d0982c;
    line-height: 1.1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border: 1px solid #caa151;
    border-radius: 4px 4px 2px 2px;
    background-image: -moz-linear-gradient(90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    background-image: -webkit-linear-gradient(90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    background-image: -ms-linear-gradient(90deg, rgb(220, 177, 93) 0%, rgb(244, 204, 126) 90%);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17), inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
}

.menu-contacts__item {
    line-height: 100%;
    padding: 0;
    border: 1px solid #d6d5d3;
    background-image: -moz-linear-gradient(90deg, #e9e7e7 0%, #fbf9f9 100%);
    background-image: -webkit-linear-gradient(90deg, #e9e7e7 0%, #fbf9f9 100%);
    background-image: -ms-linear-gradient(90deg, #e9e7e7 0%, #fbf9f9 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
}

.menu-contacts__item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.menu-contacts__item:hover {
    border: 1px solid #d6d5d3;
    background-image: -moz-linear-gradient(90deg, #e0c591 0%, #fbf9f9 100%);
    background-image: -webkit-linear-gradient(90deg, #e0c591 0%, #fbf9f9 100%);
    background-image: -ms-linear-gradient(90deg, #e0c591 0%, #fbf9f9 100%);
}

.menu-contacts__item-icon {
	padding: 10px 9px 9px 60px;
	text-align: center;
}

.menu-contacts__mail-img {
background: url(../images/>.png) no-repeat 50px 0, url(../images/mail.png) no-repeat 18px 50%;
background-size: 8px 100%, 16px 13px;
}

.menu-contacts__celphone-img {
background: url(../images/>.png) no-repeat 50px 0, url(../images/celphone.png) no-repeat 18px 50%;
background-size: 8px 100%, 16px 21px;
}

.menu-contacts__skype-img {
background: url(../images/>.png) no-repeat 50px 0, url(../images/skype.png) no-repeat 19px 50%;
background-size: 8px 100%, 18px 18px;
}

.menu-contacts__item-link {
	display: block;
	font: 14px 'open_sansregular';
	color: #727070;
	line-height: 1.2;
}


