include _common/_mixins
include _common/_variables
doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		//- Указание браузеру использовать самую последнюю версию
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		//- Указание использовать для сайта ширину экрана
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//SEO
		block description
		block keywords
		meta(name="author" content="WEB-developer Valentin Gordienko")
		//Title
		title
			block title
		//FAVICONS
		link(rel="icon" type="image/vdn.microsoft.ico" href="images/favicon.ico" sizes="16x16")
		//CSS STYLESHEETS
		// build:css css/vendor.min.css
		// bower:css
		// endbower
		// endbuild
		// build:css css/main.min.css
		link(rel="stylesheet" href="fonts/stylesheet.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/header.css")
		link(rel="stylesheet" href="css/side-nav-contact-menu.css")
		link(rel="stylesheet" href="css/page-content.css")
		link(rel="stylesheet" href="css/footer.css")
		//endbuild
		//START SCRIPTS AFTER LOUD PAGE
		//build:js js/ga.min.js
		script(src="js/ga.js")
		//endbuild
		script(src="js/modernizr.min.js")
	body
		// Yandex.Metrika counter
		//build:js js/yam.min.js
		script(src="js/yam.js")
		//endbuild
		noscript
			div
				img(src="https://mc.yandex.ru/watch/36085175" style="position:absolute; left:-9999px;" alt="")
		//Yandex.Metrika counter
		<!--[if lt IE8]>
		<p class="oldBrowser">Ваш браузер устарел. Для корректного отображения сайта воспользуйтесь более современным браузером.</p>
		<![endif]-->
		div.wrapper
			include _common/header
			section.page.conteiner.page-width.clearfix
				//SIDEBAR
				block sidebar
				//Main content of page
				main.page-content
					block content
			block modal_windows
			div.empty
		include _common/footer
		//build:js js/vendor.min.js
		//bower:js
		//endbower
		//endbuild
		//build:js js/main.min.js
		script(src="js/main.js")
		script(src="js/validation.js")
		//endbuild