include _common/_mixins
include _common/_variables
doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="author" content="WEB-developer Гордиенко Валентин Валентинович")
		block description
		title
			block title
		link(rel="icon" type="image/vdn.microsoft.ico" href="images/favicon.ico" sizes="16x16")
		// build:css css/vendor.min.css
		// bower:css
		// endbower
		// endbuild
		// build:css css/main.min.css
		link(rel="stylesheet" href="fonts/stylesheet.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/header.css")
		link(rel="stylesheet" href="css/side-nav-contact-menu.css")
		link(rel="stylesheet" href="css/page-content.css")
		link(rel="stylesheet" href="css/footer.css")
		//endbuild
		//build:js js/ga.min.js
		script(src="js/ga.js")
		//endbuild
	body
		// Yandex.Metrika counter
		//build:js js/yam.min.js
		script(src="js/yam.js")
		//endbuild
		noscript
			div
				img(src="https://mc.yandex.ru/watch/36085175" style="position:absolute; left:-9999px;" alt="")
		// /Yandex.Metrika counter
		<!--[if lt IE8]>
		<p class="oldBrowser">Ваш браузер устарел. Для корректного отображения сайта воспользуйтесь более современным браузером.</p>
		<![endif]-->
		.wrapper
			include _common/header
			section.page.conteiner.page-width.clearfix
				block sidebar
				//Основной контент страницы
				main.page-content
					block content
			block modal_windows
			include _common/login
			.empty
			include _common/footer
			//build:js js/vendor.min.js
			//bower:js
			//endbower
			//endbuild
			//build:js js/main.min.js
			script(src="js/main.js")
			script(src="js/validation.js")
			//endbuild