extends ../main
block description
	meta(name="description" content="Форма обратной связи с Web разработчиком Гордиенко Валентином.")
block title
	| Контакты. Web разработчик фрилансер Гордиенко Валентин.
block stylesheets
	//build:css css/feedback.min.css
	link(rel="stylesheet" href="css/feedback.css")
	//endbuild
block reCaptcha
	//RECAPTCHA SCRIPT
	script(src='https://www.google.com/recaptcha/api.js')
block sidebar
	section.sidebar
		+menu-navigation(3,"side-bar__item")
		+menu-contacts("side-bar__item")
block content
	//FEEDBACK FORM
	article.page-content-item
		h2.page-content-item__header У вас интересный проект? Напишите мне
		div.page-content-item__conteiner.clearfix
			form.feedback-form#contactForms(action="#")
				div.form__item.form-inputs
					div.input-group.input-group__name.float-left
						label.input-group__label(for="form__name") Ваше имя
						input.input-group__input.qtipBlock#form__name(type="text" name="name" placeholder="Как к вам обращаться?" qtip-content="Может быть всё-таки по имени?" qtip-position="left")
					div.input-group.input-group__email.float-right
						label.input-group__label(for="form__email") Ваш email
						input.input-group__input.qtipBlock#form__email(type="email" name="email" placeholder="Куда мне писать" qtip-content="Куда мне вам ответить?" qtip-position="right")
					div.input-group
						label.input-group__label(for="form__message") Сообщение
						textarea.input-group__input.input-group__textarea.input-group__textarea--feedback.qtipBlock#form__message(name="message"
						placeholder="Кратко в чём суть" qtip-content="О чём будем общаться?" qtip-position="left")
					div.input-group
						p.input-group__label.text-center Пройдите проверку
						div.g-recaptcha.qtipBlock(qtip-content="Вы же не робот?" qtip-position="left" data-sitekey="6LcR9SITAAAAAMS5fuWrC6Bd7VcnBvUQPS__6DtZ")
				div.form__item.clearfix
					button.button.button--green.float-left(type="submit") Отправить
					button.button.float-right(type="reset") Очистить