extends ../main
block description
	meta(name="description" content="Форма обратной связи с Web разработчиком Гордиенко Валентином.")
block keywords
	meta(name="keywords" content="Обратная связь, Портфолио, Примеры работ, Сайт-портфолио, Гордиенко Валентин")
block title
	| Контакты. Web разработчик фрилансер Гордиенко Валентин.
block stylesheets
	//build:css css/feedback.min.css
	link(rel="stylesheet" href="css/feedback.css")
	//endbuild
block sidebar
	aside.sidebar
		+menu-navigation(3,"side-bar__item")
		+menu-contacts("side-bar__item")
block content
	//FEEDBACK FORM
	section.page-content-item
		h2.page-content-item__header Связаться со мной
		div.page-content-item__conteiner.clearfix
			form.feedback-form#feedback-form(action="" method="POST")
				div.form__item.form-inputs
					div.clearfix
						div.input-group.input-group__name.float-left
							label.input-group__label(for="form__name") Ваше имя
							input.input-group__input.qtipBlock#form__name(type="text" name="name" placeholder="Как к вам обращаться?" qtip-content="Может быть всё-таки по имени?" qtip-position="left")
						div.input-group.input-group__email.float-right
							label.input-group__label(for="form__email") Ваш e-mail
							input.input-group__input.qtipBlock#form__email(type="email" name="email" placeholder="Куда мне ответить?"
							qtip-content="Куда мне вам ответить?" qtip-position="right")
					div.input-group
						label.input-group__label(for="form__message") Сообщение
						textarea.input-group__input.input-group__textarea.input-group__textarea--feedback.qtipBlock#form__message(name="message"
						placeholder="Ваше предложение..." qtip-content="О чём будем общаться?" qtip-position="left")
				div.form__item.clearfix
					button.button.float-left(type="reset") Очистить
					button.button.button--green.float-right(type="submit") Отправить
block modal_windows
	include ../_common/message-status