extends ../main
block description
	meta(name="description" content="Основная информация о Web разработчике Гордиенко Валентине.")
block keywords
	meta(name="keywords" content="")
block title
	|Сайт портфолио. Web разработчик фрилансер Гордиенко Валентин.
block stylesheets
	//build:css css/index.min.css
	link(rel="stylesheet" href="css/index.css")
	//endbuild
block sidebar
	aside.sidebar
		+menu-navigation(1,"sidebar__item")
		+menu-contacts("sidebar__item")
block content
	include ../_common/main_information
	include ../_common/education