doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		//- Указание браузеру использовать самую последнюю версию
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		//- Указание использовать для сайта ширину экрана
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//SEO
		meta(name="description" content="Страница входа на сайт")
		meta(name="author" content="WEB-developer Valentin Gordienko")
		//TITLE
		title LogIn
		//FAVICONS
		link(rel="icon" type="image/vdn.microsoft.ico" href="images/favicon.ico" sizes="16x16")
		//CSS STYLESHEETS
		// build:css css/vendor.min.css
		// bower:css
		// endbower
		// endbuild
		// build:css css/login.min.css
		link(rel="stylesheet" href="fonts/stylesheet.css")
		link(rel="stylesheet" href="css/login.css")
		//endbuild
		//START SCRIPTS AFTER LOUD PAGE
		//build:js js/ga.min.js
		script(src="js/ga.js")
		//endbuild
		//build:js js/modernizr.min.js
		script(src="js/modernizr.js")
		//endbuild
		block reCaptcha
	body
		// Yandex.Metrika counter
		//build:js js/yam.min.js
		script(src="js/yam.js")
		//endbuild
		noscript
			div
				img(src="https://mc.yandex.ru/watch/36085175" style="position:absolute; left:-9999px;" alt="")
		//Yandex.Metrika counter
		<!--[if lt IE8]>
		<p class="oldBrowser">Ваш браузер устарел. Для корректного отображения сайта воспользуйтесь более современным браузером.</p>
		<![endif]-->
		div.wrapper
			section.login-page
				div.login-window
					h1.form__header.form__header--login Авторизируйтесь
					div.form__body.form__body--login
						form#login-window__form
							div.form__item.form-message#error-server
								h2.form-message__header Неудача!
								p.form-message__content На сервере какие-то неполадки.
							div.form__item.form-message#error
								h2.form-message__header Неудача!
								p.form-message__content Неверные логин/пароль.
							div.form__item.form-message.form-message__succes#succes
								h2.form-message__header Успешная авторизация!
								p.form-message__content Добро пожаловать. Хозяяяин.
							div.form__item#form-inputs
								div.input-group.input-group-login.qtipBlock(qtip-content="Требуется адрес электронной почты"
								qtip-position="left")
									div.input-group-login__first-img.input-group-login__first-img--mail.float-left
									div.input-group-login__second-img.float-left
									input.input-group-login__input.float-left(name="admin-name" type="text" placeholder="Введите Email")
								div.input-group.input-group-login.qtipBlock(qtip-content="Здесь нужен пароль" qtip-position="left")
									div.input-group-login__first-img.input-group-login__first-img--key.float-left
									div.input-group-login__second-img.float-left
									input.input-group-login__input.float-left(name="password" type="text" placeholder="Введите пароль")
								div.input-group.input-group-login-checkbox
									input.input-group-login-checkbox__checkbox#remember-me(name="remember-me" type="checkbox")
									label.input-group-login-checkbox__fake-checkbox.float-left(for="remember-me")
									div.input-group-login-checkbox__checkbox-title.float-left Запомнить меня?
							div.form__item.clearfix#form-buttons
								button.button.button--green.float-left(type="submit" name="login-button") Войти
								a.button.button--a.float-right(href="./") Отмена
		//build:js js/vendor.min.js
		//bower:js
		//endbower
		//endbuild
		//build:js js/main.min.js
		script(src="js/main.js")
		script(src="js/validation.js")
		//endbuild