//- Массив "Навыков"
- var skills = ['html5','jade','css3','scss','javascript','jquery','git','gulp','php','MySQL','xml', 'SEO'];

//- Массив "Cоциальных иконок"
- var socials = {vk:'https://vk.com/danadj', git:'https://github.com/danadj', fb:'https://www.facebook.com/danadjuss'};

//- Массив "Данных обо мне"
- var about_me = [];
- about_me.push({header:'Меня зовут',value:'Гордиенко Валентин'});
- about_me.push({header:'Мой возраст',value:'30 лет'});
- about_me.push({header:'Мой город',value:'Санкт-Петербург, Россия'});
- about_me.push({header:'Моя специализация',value:'FRONTEND разработчик'});
- about_me.push({header:'Ключевые навыки',value:skills});

//- Массив "Образование"
- var education = [];
- education.push({type:'higher-education',header:'Высшее образование.',header2: '"СПбГЛТА, факультет ЛИФ"', value:'2006 - 2011'});
- education.push({type:'course',header:'Курс LoftSchool.com',header2: '"Проф-ное программирование на PHP"', value:'02.09.2015 - 02.11.2015',link:'http://loftschool.com/certificate/IE34861946059'});
- education.push({type:'course',header:'Курс LoftSchool.com',header2: '"Комплексное обучение WEB-разработке"', value:'16.11.2015 - 01.02.2016', link:'http://loftschool.com/certificate/VG95645504165'});
- education.push({type:'course',header:'Курс LoftSchool.com',header2: '"SEO для всех"', value:'23.02.2016 - 24.03.2016', link:'http://loftschool.com/certificate/UW3447459684'});
- education.push({type:'course',header:'Курс LoftSchool.com',header2: '"Комплексное обучение JavaScript"', value:'01.07.2016 - 01.09.2016',link:'https://loftschool.com/certificate/OC33478556526'});
- education.push({type:'course',header:'Курс LoftSchool.com',header2: '"Английский для разработчиков"', value:'15.07.2016 - 28.08.2016',link:'https://loftschool.com/certificate/VF37129292311'});

//- Маcсив "Мои проекты"
- var myself_portfolio = [];
- myself_portfolio.push({link:'http://v5.master-css.com/Valentin007', image:'html5-css3-cours.jpg', alt:'Шпаргалка по html и css',name:'Шпаргалка по HTML5 и CSS3' , desc:'Мой первый учебный сайт-шпаргалка по HTML5 и CSS3. Больше не разрабатываю.'});

//- Массив "Проекты заказчиков"
- var customer_portfolio = [];

//- Массив "Тестовые проекты"
- var test_portfolio = [];
- test_portfolio.push({link:'test/JSvkFiendsFilter/vkFriendsFilter.html', image:'vkFriendsFilter.png', alt:'App VK.COM "ДРУГОФИЛЬТР"',name:'App VK.COM "ДРУГОФИЛЬТР"' , desc:'Один из выпускных проектов курса по JS. В приложеении реализована функция Drag And Drop. Приложение работает со списком ваших друзей в VK.COM'});
- test_portfolio.push({link:'test/accordeonJS/accordeonJS.html', image:'accordeonJS.png', alt:'Test task JS "ACCORDEON"', name:'Test task JS "ACCORDEON"' ,desc:'Несколько строк нативного JS для реализации аккордеона. Тестовое задание для курса по JS.'});

//- Массив "Навигация"
- var navigation = [];
- navigation.push({pageNumber:1, pageLink:'./',pageContent:'Обо мне'});
- navigation.push({pageNumber:2, pageLink:'./portfolio.html',pageContent:'Портфолио'});
- navigation.push({pageNumber:3, pageLink:'./feedback.html',pageContent:'Обратная связь'});

//- Массив "Контакты"
- var contacts = [];
- contacts.push({name:"mail", href:"mailto:danadj@yandex.ru", content:"danadj@yandex.ru"});
- contacts.push({name:"celphone", href:"tel:+79522775951", content:"+7952 277 59 51"});
- contacts.push({name:"skype", href:"skype:danadjsaintpetersburg", content:"danadjsaintpetersburg"});