//- Массив "Навыков"
- var skills = ['html5','jade','css3','scss','javascript','jquery','git','gulp','php','MySQL','xml'];

//- Массив "Данных обо мне"
- var about_me = [];
- about_me.push({header:'Меня зовут',value:'Гордиенко Валентин'});
- about_me.push({header:'Мой возраст',value:'30 лет'});
- about_me.push({header:'Мой город',value:'Санкт-Петербург, Россия'});
- about_me.push({header:'Моя спецализация',value:'FRONTEND разработчик'});
- about_me.push({header:'Ключевые навыки',value:skills});

//- Массив "Опыт работы"
- var work = [];
- work.push({organization:'"ООО Atelier Doorus" ', position:'- Конструктор мебели',period:'Июль 2012 - Ноябрь 2013'})
- work.push({organization:'"Фриланс" ',position:'- Конструктор мебели',period:'Ноябрь 2013 - апрель 2015'})
- work.push({organization:'"ООО Акрополь Паркет" ',position:'- Распиловщик паркета',period:'Апрель 2015 - Июль 2015'})
- work.push({organization:'"ООО Авторская мебель +" ',position:'- Конструктор мебели',period:'Июль 2015 - по настоящее время'});

//- Массив "Образование"
- var education = [];
- education.push({header:'Полное среднее образование. Ср.шк. №6 Лен.обл г.Сосновый Бор', value:'1993 - 2003'});
- education.push({header:'Средне-спец-ное образование. ПТЛ №36 Лен.обл г.Сосновый Бор', value:'2003 - 2005'});
- education.push({header:'Средне-техн-кое образование. ПТЛ №36 Лен.обл г.Сосновый Бо', value:'2005 - 2006'});
- education.push({header:'Высшее образование. СПбГЛТА', value:'2006 - 2011'});
- education.push({header:'Курсы LoftSchool.ru "Проф-ное программрование на PHP".', value:'09.2015 - 11.2015'});
- education.push({header:'Курсы LoftSchool.ru Профессиональная WEB-разработка".', value:'11.2015 - 01.2016'});
- education.push({header:'Курсы LoftSchool.ru "SEO для всех".', value:'02.2016 - По настоящее время.'});

//- Маcсив "Портфолио"
- var portfolio = [];
- portfolio.push({link:'http://v5.master-css.com/Valentin007', image:'html5&css3-cours.png', alt:'Шпаргалка по html и css', name:'Шпаргалка по HTML5 и CSS3' , desc:'Мой первый учебный сайт-шпаргалка по HTML5 и CSS3. Пока ещё не закончил.'});
- portfolio.push({link:'#', image:'a-industry.png', alt:'a-indastry.ru', name:'a-industry.ru' , desc:'Корпоративный и в тоже время продающий сайт строительной компании a-industry.'});
- portfolio.push({link:'#', image:'crmconsulting.png', alt:'crmconsulting.biz', name:'crmconsulting.biz' , desc:'Лендинг компании «СRM Consulting» специализирующейся на точной настройке Битрикс24 под бизнес.'});
- portfolio.push({link:'#', image:'landingsloft.png', alt:'landingsloft.ru', name:'landingsloft.ru' , desc:'Сайт по услугам разработки продающих лендингов.'});
- portfolio.push({link:'#', image:'yasnow.png', alt:'yasnow.biz', name:'yasnow.biz' , desc:'Landing page по продажи франшизы снежного бизнеса.'});

//- Массив "Сайдбар-Навигация"
- var sideBarNav = [];
- sideBarNav.push({pageNumber:1, pageLink:'./',pageContent:'Обо мне'});
- sideBarNav.push({pageNumber:2, pageLink:'./myworks.html',pageContent:'Мои Работы'});
- sideBarNav.push({pageNumber:3, pageLink:'./contactwithme.html',pageContent:'Обратная связь'});