//- Массив "Навыков"
- var skills = ['html5','jade','css3','scss','javascript','jquery','git','gulp','php','MySQL','xml', 'SEO'];

//- Массив "Данных обо мне"
- var about_me = [];
- about_me.push({header:'Меня зовут',value:'Гордиенко Валентин'});
- about_me.push({header:'Мой возраст',value:'30 лет'});
- about_me.push({header:'Мой город',value:'Санкт-Петербург, Россия'});
- about_me.push({header:'Моя специализация',value:'FRONTEND разработчик'});
- about_me.push({header:'Ключевые навыки',value:skills});

//- Массив "Опыт работы"
- var work = [];
- work.push({organization:'"ООО Atelier Doorus" ', position:'- Конструктор мебели',period:'Июль 2012 - Ноябрь 2013'})
- work.push({organization:'"Фриланс" ',position:'- Конструктор мебели',period:'Ноябрь 2013 - апрель 2015'})
- work.push({organization:'"ООО Акрополь Паркет" ',position:'- Распиловщик паркета',period:'Апрель 2015 - Июль 2015'})
- work.push({organization:'"ООО Авторская мебель +" ',position:'- Конструктор мебели',period:'Июль 2015 - по настоящее время'});

//- Массив "Образование"
- var education = [];
- education.push({header:'Высшее образование. СПбГЛТА, факультет ЛИФ', value:'2006 - 2011'});
- education.push({header:'Курс LoftSchool.com "Проф-ное программирование на PHP"', value:'02.09.2015 - 02.11.2015', link:'http://'});
- education.push({header:'Курс LoftSchool.com "Комплексное обучение WEB-разработке"', value:'16.11.2015 - 01.02.2016', link:'http://'});
- education.push({header:'Курс LoftSchool.com "SEO для всех"', value:'23.02.2016 - 24.03.2016', link:'http://'});

//- Маcсив "Портфолио"
- var portfolio = [];
- portfolio.push({link:'http://v5.master-css.com/Valentin007', image:'html5&css3-cours.png', alt:'Шпаргалка по html и css', name:'Шпаргалка по HTML5 и CSS3' , desc:'Мой первый учебный сайт-шпаргалка по HTML5 и CSS3. Пока ещё не закончил.'});
//- Массив "Сайдбар-Навигация"
- var sideBarNav = [];
- sideBarNav.push({pageNumber:1, pageLink:'./',pageContent:'Обо мне'});
- sideBarNav.push({pageNumber:2, pageLink:'./myworks.html',pageContent:'Мои Работы'});
- sideBarNav.push({pageNumber:3, pageLink:'./contactwithme.html',pageContent:'Обратная связь'});