// ПопАп окно статуса отправки сообщения
section#modalWindow-sendMessage
	.modalWindow-body
		#modalWindow-sendMessage-block.form
			.server-mes.error-mes
				h4.server-mes-header Упс! Проблемка!
				p.server-mes-content Не удалось отправить письмо :_(
			.server-mes.succes-mes
				h4.server-mes-header Письмо успешно отправлено!
				p.server-mes-content Скоро я вам отвечу.