//Message status
div.form-message-status#form-message-status
	div.form__body.form__body--message-status
		div.form__item.form-message#error-server
			h2.form-message__header Упс! Проблемка!
			p.form-message__content Не удалось отправить письмо :_(
		div.form__item.form-message.form-message__succes#succes
			h2.form-message__header Письмо успешно отправлено!
			p.form-message__content Скоро я вам отвечу.