//Сайдбар
section.side
	ul.nav-menu
		li.nav-menu-item
			a(href="./" class="link-without-decorations nav-menu-item-link nav-menu-item-link-activePage")
				|Обо мне
		li.nav-menu-item
			a(href="./myworks.html" class="link-without-decorations nav-menu-item-link")
				|Мои Работы
		li.nav-menu-item
			a(href="./contactwithme.html" class="link-without-decorations nav-menu-item-link")
				|Обратная связь
	.contact-menu
		h2.contact-menu-header
			|Контакты
		ol.contact-menu-list
			li.contact-menu-list-item
				.contact-menu-list-item-icon.mail-link
					a(href="mailto:danadj@yandex.ru" class="link-without-decorations contact-menu-list-item-link")
						|danadj@yandex.ru
			li.contact-menu-list-item
				.contact-menu-list-item-icon.celphone-link
					a(href="tel:+79522775951" class="link-without-decorations contact-menu-list-item-link")
						|+7952 277 59 51
			li.contact-menu-list-item
				.contact-menu-list-item-icon.skype-link
					a(href="skype:danadjsaintpetersburg" class="link-without-decorations contact-menu-list-item-link")
						|danadjsaintpetersburg